body {
  font-family: 'Lora', serif
  font-size: 16px;
  padding: 0px 50px 0px 50px;
  color: #333;
}

h1 {
  text-align: center;
  padding: 10px;
}

p {
  margin: 20px;
  font-size: 24px;
}

button {
  background-color: red;
}

.btn-primary {
  background-color: red;
  border-color: red;
}

.sidebar .btn-primary {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-primary:hover {
  background-color: #AF0000;
  border-color: #AF0000;
}

.sidebar-container img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 100%;
  display: block;
}

.sidebar-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "header header"
        "main sidebar"
        "footer footer";
    grid-gap: 20px;
}


.header {
    grid-area: header;
    display: inline-block;
    padding: 0px;
}

.sidebar {
    grid-area: sidebar;
    padding: 0 20px;
}

.main {
    grid-area: main;
    padding: 0px;
}

.footer {
    grid-area: footer;
    display: table;
    text-align: center;
    background-color: #EFEFEF;
    padding: 0px;
}

.footer p {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 0px;
}


.bg-light {
    background-color: #fff !important;
}

.header nav {
    margin-top: 20px;
    padding: 0px;
}

.nav-item {
    padding: 5px 10px;
}

.navbar-light .navbar-nav .nav-link {
    color: #333;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav
.nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light
.navbar-nav .show>.nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #333;
}

nav li:hover {
    background-color: #efefef;
}

nav li.active {
    background-color: red;
}

nav .nav-item.dropdown.active {
  background-color: red;
}

nav .dropdown-item.active {
  background-color: red;
}

nav li.active nav-link {
    color: white;
}

nav .dropdown-menu {
    background-color: #efefef;
}

nav .dropdown-item:focus, .dropdown-item:hover {
    color: #333;
    text-decoration: none;
    background-color: #fff;
}

.instrument-display {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas:
      "image blank"
      "image info";

  margin: 50px;

  grid-gap: 10px;
}

.instrument-display img {
  width: 100%;
}

.guitar-pic {
  grid-area: image;
  width: 90%;
}

.info {
  grid-area: info;
}

.container p {
  text-align: center;
}
